/* CSS Document */
nav ul{
	margin:0;
	padding:0;
}
nav ul li{
	list-style-type:none;
	float: left;
	display:block;
	width: 150px;
	height: 60px;
	text-align:center;
	line-height:55px;
	font-family:Arial, Helvetica,sans-serif;
	font-size: 17px;
}

nav ul li a{
	text-decoration:none;
	color:#FBFBFB;
}
nav ul li:hover{
	background-color:#7E7C7C;
}

